:root {
  --main-font: 'Londrina Solid', cursive;
  --black: black;
  --white: azure;
  --green: rgb(49, 221, 14);
  --hover: yellowgreen;
  --active: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
  font-size: 1.3rem;
  color: var(--white);
}

body {
  background: radial-gradient(circle, rgba(17,181,71,1) 0%, rgba(9,121,69,1) 54%, rgba(0,255,85,1) 100%);
}

main {
  width: 65vw;
  height: 100vh;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  box-shadow:  0 0 2.5rem 0.4rem var(--black)
}

.cssmemslider {
  height: 90%;
  width: 60vw;
  margin: 1% auto 0;
}

.content {
  width: inherit;
  height: inherit;
}

.cssmemslider > input {
  display: none;
}

.pictures {
  height: 100%;
  overflow: hidden;
  max-width: 100%;
  width: 100%;
  border-radius: 3%;
}

.pictures__wrapper {
  display: flex;
  transition: all 0.5s linear;
}

.picture {
  display: inline-block;
  height: 100%;
  min-width: 100%;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
}

.texts {
  overflow: hidden;
  flex: 2.6;
}

.texts__wrapper {
  display: flex;
  flex-direction: row-reverse;
  transition: all 0.5s linear;
}

.text {
  min-width: 100%;
  margin-top: 1.5%;
}

.text > h2,
.text > p {
  font-size: 1rem;
}

.controls__wrapper {
  flex: 0.5;
}

.controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.controls > label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  border: var(--white) 2px;
  width: 1.9rem;
  height: 1.9rem;

}

.controls > label > span {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: var(--white);
  border-radius: 50%;
  transition: all 0.5s cubic-bezier(0.29, 0.22, 0.03, 1.29);
}

#slide1:checked ~ .content .label1 span,
#slide2:checked ~ .content .label2 span,
#slide3:checked ~ .content .label3 span,
#slide4:checked ~ .content .label4 span,
#slide5:checked ~ .content .label5 span {
  transform: scale(0.7);
  background-color: var(--green);
}

#slide1:checked ~ .content .pictures__wrapper {
  transform: translateX(0);
}

#slide2:checked ~ .content .pictures__wrapper {
  transform: translateX(-100%);
}

#slide3:checked ~ .content .pictures__wrapper {
  transform: translateX(-200%);
}

#slide4:checked ~ .content .pictures__wrapper {
  transform: translateX(-300%);
}

#slide5:checked ~ .content .pictures__wrapper {
  transform: translateX(-400%);
}

#slide1:checked ~ .content .texts__wrapper {
  transform: translateX(0);
}

#slide2:checked ~ .content .texts__wrapper {
  transform: translateX(100%);
}

#slide3:checked ~ .content .texts__wrapper {
  transform: translateX(200%);
}

#slide4:checked ~ .content .texts__wrapper {
  transform: translateX(300%);
}

#slide5:checked ~ .content .texts__wrapper {
  transform: translateX(400%);
}

@media (hover: hover) {
  label:hover span {
    background: var(--hover);
  }

  label:active span {
    background: var(--active);
    box-shadow: 0 0 1rem 0.4rem var(--white);
  }
}

@media (max-width: 1024px) {
  .cssmemslider {
    height: 85%;
  }
}

@media (max-width: 768px) {
  .cssmemslider {
    height: 74%;
  }

  .wrapper {
    margin-top: 10%;
    flex-direction: column;
  }

  .texts {
    width: 100%;
  }
}

@media (max-width: 426px) {
  .title {
    font-size: 1rem;
  }

  .subtitle {
    font-size: 0.8rem;
  }
  
  .cssmemslider {
    height: 55%;
  }

  .texts {
    flex: 1;
    margin-top: 7%;
  }
}