:root {
  --main-font: 'Londrina Solid', cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Londrina Solid', cursive;
  font-size: 1.6rem;
  text-align: center;
  color: azure
}

body {
  /* background: rgb(17,181,71); */
  background: radial-gradient(circle, rgba(17,181,71,1) 0%, rgba(9,121,69,1) 54%, rgba(0,255,85,1) 100%);
}

.cssmemslider {
  height: 60vh;
  width: 90vw;
  margin: 1% auto 0;
}

.pictures {
  background-color: #ddd;
  height: inherit;
  overflow: hidden;
  width: inherit;
}

.picture {
  height: inherit;
  width: inherit;
}